# Sanity CMS
SANITY_PROJECT_ID=your_project_id
SANITY_DATASET=production
SANITY_WRITE_TOKEN=your_editor_token

# Stripe
STRIPE_SECRET_KEY=sk_test_your_key
STRIPE_WEBHOOK_SECRET=whsec_your_secret

# Email (Resend)
RESEND_API_KEY=re_your_key
EMAIL_FROM=Pixel8 Multimedia <orders@pixel8multimedia.co.uk>
TEAM_EMAIL=hello@pixel8multimedia.co.uk

# Site
URL=https://pixel8multimedia.co.uk
